.button {
    background-color: hsla(210, 70%,70%,1);
    padding: 1rem;
    margin-left: 50px;
    color: white;
    transition: 0.3s;

    &:hover{
        background-color: hsla(210, 70%,80%,1);
    }

    &:active{
        transform: translateY(5px);
    }
}

